li {
  list-style-type: none;
}

header {
  height: 120px;
  background: $colorArmadillo;

  .row {
    height: 100%;
  }
}

a {
  text-decoration: none;
}

.main {
  background: $colorMineShaft;

  &__text {
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
  }

  &__buttons {
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 250px;
  }
}

.text {
  &--uppercase {
    text-transform: uppercase;
  }

  &--white {
    color: $colorWhite !important;
  }

  &--java {
    color: $colorJava !important;
  }

  &--silver {
    color: $colorSilver !important;
  }

  &--large {
    font-size: $largeFontSize !important;
  }

  &--centered {
    text-align: center;
  }
}

.background {
  &--java {
    background: $colorJava !important;
  }

  &--mirage {
    background: $colorMirage !important;
  }
}

.header__nav {
  height: 100%;

  ul {
    display: flex;
    height: 100%;
  }

  li {
    text-transform: uppercase;
    flex: 1;
    font-weight: $defaultFontWeight;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }

  a {
    text-align: center;
    color: $colorSilver;
  }

  li:hover {
    cursor: pointer;
    border-bottom: 2px solid $colorJava;
  }

  li:hover a {
    color: $colorJava;
  }
}

.container {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  width: 100%;

  &--responsive {
    flex-wrap: wrap;
  }

  &--centered {
    align-items: center;
    justify-content: center;
  }

  &--items-centered {
    align-items: center;
  }

  &--jusctify-center {
    justify-items: center;
  }
}

.col {
  flex: 1;

  &--items-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-1 {
    flex-basis: 10%;
  }

  &-2 {
    flex-basis: 20%;
  }

  &-3 {
    flex-basis: 30%;
  }

  &-4 {
    flex-basis: 40%;
  }

  &-5 {
    flex-basis: 50%;
  }

  &-6 {
    flex-basis: 60%;
  }

  &-7 {
    flex-basis: 70%;
  }

  &-8 {
    flex-basis: 80%;
  }

  &-9 {
    flex-basis: 90%;
  }

  &-10 {
    flex-basis: 100%;
  }
}

.box {
  height: 400px;
  display: flex;

  &--border-top-white {
    border-top: 5px solid $colorWhite;
  }

  &--border-top-java {
    border-top: 5px solid $colorJava;
  }

  &__content {
    flex: 1;
    align-self: center;
    text-align: center;
  }

  &__content img {
    padding-bottom: 50px;
    height: 130px;
  }
}

.lines {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__first_line {
    width: 76px;
    height: 1px;
    background-color: $colorJava;
  }

  &__second_line {
    width: 76px;
    height: 1px;
    background-color: $colorJava;
    margin-top: 3px;
    margin-left: 25px;
  }
}

.features {
  &__blocks {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
  }

  &__block {
    flex-basis: 29%;
    margin: 15px;
  }

  &__block__title {
    color: $colorGrey;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
  }

  &__block__title:hover {
    color: $colorJava;
    cursor: pointer;
  }

  &__block__text {
    color: $colorGrey;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
  }
}

.features__title {
  margin-top: 100px;

  &__h1 {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 40px);
    z-index: 2;
    height: 1px;
    background-color: $colorJava;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 55px);
    z-index: 2;
    height: 1px;
    top: 1620px;

    background-color: $colorJava;
  }
}

.features__block .col-1 {
  margin-right: 25px;
}

.features .row--items-centered {
  margin-bottom: 25px;
}

.about_company {
  background: black;
  margin-top: 100px;

  &__title {
    margin-top: 100px;
  }

  &__title h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 200;
    line-height: 40px;
  }

  &_skills {
    margin-top: 55px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 30px;
  }

  &__skill {
    width: 80%;
    height: 39px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid #959595;
    margin-top: 15px;
  }

  &__skill--pink {
    width: 80%;
    height: 100%;
    background: $colorTrendyPink;
  }

  &__skill--cerulean {
    width: 90%;
    height: 100%;
    background: $colorCerulean;
  }

  &__skill--new-york-pink {
    width: 60%;
    height: 100%;
    background: $colorNewYorkPink;
  }

  &__skill--green {
    width: 95%;
    height: 100%;
    background: $colorMountainMeadow;
  }

  &__skill--orange {
    width: 75%;
    height: 100%;
    background: $colorOrange;
  }

  &-skill__text {
    margin-left: 15px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
  }
}

.about_company__nav {
  color: white;
  margin-top: 85px;
  width: 100%;

  &__ul {
    display: flex;
    margin-left: 0;
    justify-content: center;
  }
}

.about_company-nav {
  &__li {
    margin: 10px;
    text-transform: uppercase;
  }

  &__li:hover {
    color: $colorJava;
    border-top: 1px solid $colorJava;
    cursor: pointer;
  }
}

.work {
  border: 1px solid #e1e1e1;
  background-color: #f8fcfe;
  padding-bottom: 100px;

  &__button {
    font-size: 14px !important;
    line-height: 42px !important;
    font-weight: 700 !important;
  }

  &__button img {
    margin-right: 15px;
    margin-bottom: 2px;
  }

  &__title {
    color: $colorTundora;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-top: 100px;
  }

  &__nav {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  &-nav__ul {
    height: 58px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
  }

  &-nav__li {
    align-self: center;
    display: inline-block;
    padding: 10px 30px;
    color: #717171;
    font-size: 14px;
    font-weight: 600;
    line-height: 42px;
    background: white;
    border: 1px solid #ebebeb;
    border-right: none;
  }

  &-nav__li:last-child {
    border-right: 1px solid #ebebeb;
  }

  &-nav__li:hover {
    border-top: 1px solid $colorJava;
    color: $colorJava;
    cursor: pointer;
  }

  &__boxes {
    display: flex;
    flex-wrap: wrap;
  }

  &__box {
    height: 208px;
    background: $colorGrey;
    flex-basis: 25%;
  }

  &__buttons {
    margin-top: 75px;
    text-align: center;
  }
}

.services {
  &__title {
    color: $colorTundora;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 110px;
  }

  &__title:after {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 40px);
    z-index: 2;
    height: 1px;
    top: 4430px;
    background-color: $colorJava;
  }

  &__title:before {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 25px);
    z-index: 2;
    height: 1px;
    top: 4435px;;

    background-color: $colorJava;
  }

  &-nav__ul {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  &-nav__ul li {
    width: 192px;
    height: 73px;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-nav__ul li:hover {
    background-color: $colorJava;
    cursor: pointer;
  }

  &-nav__ul li:hover a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 39.02px;
  }

  &-nav__ul a {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 39.02px;
  }

  &-nav__content {
    display: flex;
    justify-content: center;
  }

  &-nav-content__text {
    width: 926px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.39px;
    height: 140px;
  }

  &-nav-content__img {
    width: 194px;
    height: 140px;
    background-color: #797979;
    margin-right: 20px;
  }
}


.purchase {
  margin-top: 100px;
  height: 476px;
  background-color: $colorMirage;
  opacity: 0.7;
  padding-bottom: 130px;

  &__title {
    color: $colorJava;
    font-size: 40px;
    font-weight: 700;
    line-height: 40.46px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
  }

  &__text {
    margin-top: 40px;
    color: #d8d8d8;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
  }

  &__button {
    text-align: center;;
    margin-top: 100px;
  }
}

.news {
  &__title {
    margin-top: 100px;
    color: $colorTundora;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  &__title:before {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 40px);
    z-index: 2;
    height: 1px;
    background-color: #18cfab;
    margin-top: 84px;
    margin-left: 15px;
  }

  &__title:after {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 40px);
    z-index: 2;
    height: 1px;
    background-color: #18cfab;
    margin-top: 40px;
  }

  &__boxes {
    margin: 0 auto;
    margin-top: 110px;
    display: flex;
    max-width: 1140px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-boxes__box {
    flex-basis: 263px;
    height: 229px;
    background-color: #9e9e9e;
    margin: 10px;
    position: relative;
  }

  &-boxes__box:hover {
    cursor: pointer;
  }

  &-boxes__box:hover &-box__date {
    background: $colorJava;
  }

  &-boxes__box:hover &-box-text__title {
    color: $colorJava;
  }

  &-box__date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    float: right;
    background: #203e38;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.33px;
    color: white;
  }

  &-box__text {
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
  }

  &-box-text__title {
    margin-left: 19px;
    margin-right: 72px;
    color: $colorGrey;
    font-size: 18px;
    font-weight: 700;
    line-height: 38.97px;
  }

  &-box-text__details {
    padding-left: 20px;
    display: flex;
    color: $colorGrey;
    font-size: 14px;
    font-weight: 300;
  }

  &-details__by {
    padding-right: 15px;
  }

  &-details__by:after {
    content: "";
    display: block;
    bottom: 18px;
    position: absolute;
    width: 13px;
    overflow: hidden;
    z-index: 2;
    height: 1px;
    background-color: $colorGrey;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    margin-left: 69px;
  }

  &-details__comments {
    padding-left: 15px;
  }
}

.facts {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  justify-content: center;


  &__box {
    flex: 25%;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-box--mirage {
    background: $colorMirage;
    border-top: 7px solid $colorJava;
  }

  &-box--java {
    background: $colorJava;
    border-top: 7px solid $colorMirage;
  }

  &-box__ellipse {
    width: 165px;
    height: 165px;
    border: 2px solid #18cfab;
    @include radius(50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-box__image {
    width: 111px;
    height: 111px;
    background: $colorJava;
    @include radius(50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-ellipse--mirage {
    border: 2px solid $colorMirage!important;
  }

  &-ellipse--mirage > &-box__image {
    background: $colorMirage;
  }

  &-box--mirage > &-box__text {
    color: $colorJava!important;
  }

  &-box__count {
    color: #ffffff;
    margin-top: 26px;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
  }

  &-box__text {
    margin-top: 24px;
    color: #25333c;
    font-size: 18px;
    font-weight: 300;
    line-height: 42px;
  }
}

.pricing {
  &__title {
    margin-top: 100px;
    color: $colorTundora;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  &__title:after {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 40px);
    z-index: 2;
    height: 1px;
    background-color: #18cfab;
    margin-top: 40px;
  }

  &__title:before {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    overflow: hidden;
    left: calc(50% - 40px);
    z-index: 2;
    height: 1px;
    background-color: #18cfab;
    margin-top: 84px;
    margin-left: 15px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    flex-wrap: wrap;
  }

  &__card {
    flex-basis: 285px;
    height: 600px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    background-color: #f8fcfe;
  }

  &-card__title {
    padding: 15px 0;
    border: 1px solid #ebebeb;
    color: #717171;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 39.02px;
    text-transform: uppercase;
  }
}
