$colorWhite: #ffffff;
$colorArmadillo: #44433E;
$colorJava: #18cfab;
$colorSilver: #b8b8b8;
$colorBrightTurquoise: #00CBF6;
$colorMineShaft: #3c3c3c;
$colorMirage: #1C2A33;
$defaultFontWeight: 600;
$largeFontSize: 72px;
$colorGrey: #777777;
