$colorWhite: #ffffff;
$colorArmadillo: #44433E;
$colorJava: #18cfab;
$colorSilver: #b8b8b8;
$colorBrightTurquoise: #00CBF6;
$colorMineShaft: #3c3c3c;
$colorMirage: #1C2A33;
$defaultFontWeight: 600;
$largeFontSize: 72px;
$colorGrey: #777777;
$colorTrendyPink: #9C5DA5;
$colorCerulean: #11b0de;
$colorNewYorkPink: #d67f7f;
$colorMountainMeadow: #20bc9d;
$colorOrange: #bb8a36;
$colorTundora: #4e4e4e;
